@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    /* color: aquamarine; */
    text-decoration: underline dotted;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%
    }
}

.animate-typing {
    animation: typing 3s steps(20) 1;
}

.checkbox:checked:after {
    display: none;
    appearance: none;
}